@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua|Space+Mono");

.root {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.RecognitionWrapper {
	font-family: "Space Mono", monospace;
	position: absolute;
	color: black;
	mix-blend-mode: multiply;
	text-align: center;
	bottom: 0vh;
	right: 0;
	left: 0;
	font-weight: regular;
	font-size: 3vw;
}

.newTranscription {
	font-family: "Space Mono", monospace;
	position: absolute;
	color: green;
	mix-blend-mode: multiply;
	text-align: center;
	bottom: 0vh;
	right: 0;
	left: 0;
	font-weight: regular;
	font-size: 3vw;
}

.SearchWrapper {
	position: absolute;
	font-family: "Inknut Antiqua", serif;
	color: black;
	padding: 0;
	top: 40vh;
	text-align: center;
	font-weight: bold;
	font-size: 15vw;
	line-height: 10vw;
}

.SearchWrapperTop {
	top: 50px;
}

.HintWrapper {
	font-family: "Space Mono", monospace;
	color: gray;
	position: absolute;
	right: 0vw;
	left: 0;
	bottom: 40px;
	text-align: center;
	font-weight: 700;
	font-size: 80px;
	/* letter-spacing: -.8vw; */
}

.StateWrapper {
	background: white;
	word-wrap: break-word;
	position: absolute;
	padding: 5px;
	top: 10px;
	left: 10px;
	margin: 20px;
	opacity: 0.9;
	border-radius: 2px;
	max-width: 600px;
}

.backgroundWrapper {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.textYellow {
	color: yellow;
}

.textRed {
	color: red;
}
