body {
	font-family: Helvetica, Arial, sans-serif;
}

button {
	height: 30px;
	background: black;
	color: white;
	font-weight: 700;
	font-size: 10px;
}

img {
	position: absolute;
	z-index: -1;
	right: 0vw;
	top: 0vh;
	width: 100vw;
}

.RecognitionWrapper {
	position: absolute;
	color: red;
	mix-blend-mode: multiply;
	text-align: center;
	bottom: 0vh;
	right: 0;
	left: 0;
	line-height: 7vw;
	font-weight: 700;
	font-size: 5vw;
}

.SearchWrapper {
	color: blue;
	position: absolute;
	right: 0vw;
	left: 0;
	top: 40vh;
	text-align: center;
	line-height: 7vw;
	font-weight: 700;
	font-size: 20vw;
	letter-spacing: -0.8vw;
}

.HintWrapper {
	color: blue;
	position: absolute;
	right: 0vw;
	left: 0;
	bottom: 40px;
	text-align: center;
	font-weight: 700;
	font-size: 80px;
	/* letter-spacing: -.8vw; */
}

.StateWrapper {
	background: white;
	padding: 5px;
	top: 10px;
	left: 10px;
	margin: 20px;
	opacity: 0.9;
	border-radius: 2px;
	max-width: 600px;
}
